<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
</head>
<body>
    <h1>API</h1>
    <h2><a href="https://agro-sync.onrender.com/api/v1/api-docs/">Documentación API: /api-docs</a></h2>
 </body>
 </html>